<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.company.customer.service.mapper.CustomerMapper">

<resultMap type="com.company.customer.service.model.Customer" id="customer">
<result property = "ssn" column = "ssn"/>
<result property = "first_name" column = "first_name"/>
<result property = "last_name" column = "last_name"/>
<result property = "dob" column = "dob"/>
<result property = "gender" column = "gender"/>
</resultMap>

<select id="findAll" resultMap="customer">
select * from customer
</select>

<select id="getCustomerBySSN" resultMap="customer">
SELECT * FROM customer WHERE ssn = #{ssn}
</select>

<update id="updateBySSN" >
UPDATE customer SET first_name=#{first_name},last_name=#{last_name},dob=#{dob},gender=#{gender} WHERE ssn = #{ssn}
</update>

<delete id="deleteBySSN">
DELETE FROM customer WHERE ssn = #{ssn}
</delete>

<insert id="insert" >
insert into customer(ssn,first_name,last_name,dob,gender) values(#{ssn},#{first_name},#{last_name},#{dob},#{gender})
</insert>

</mapper>